.vscode
*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
!modules/swagger-codegen-cli/src/main/resources/version.properties
.project
.classpath
lib/*
build/*
generated-files/*
generated-sources/*
generated-code/*
*.swp
*.swo
target
.idea
.lib
atlassian-ide-plugin.xml
.DS_Store
packages/
.pub
.packages
.vagrant/
.vscode/

.settings

*.mustache~
*.java~
*.pm~
*.xml~
*.t~

/target
/generated-files
nbactions.xml

samples/
bin/*
bin\

# nodejs
**/node_modules

# qt5 cpp
*.pro.user

#Java/Android
**/.gradle

#PHP
**/vendor/
**/composer.lock

# C#
*.csproj.user

# Python
*.pyc
__pycache__

# aspnetcore
effective.pom
# kotlin
\?

# haskell
.stack-work
.cabal-sandbox
cabal.project.local

# R
.Rproj.user
