{{>licenseInfo}}
package {{package}};

{{#imports}}import {{import}};
{{/imports}}
{{#operations}}{{#operation}}{{#allParams}}{{#isEnum}}
import {{modelPackage}}.{{classname}}.{{enumName}};{{/isEnum}}{{/allParams}}{{/operation}}{{/operations}}
import utils.Utilities;
import io.javalin.http.UnauthorizedResponse;

public class {{classname}}API {

    private final String basePath;

    public {{classname}}API(final String basePath) {
        this.basePath = Objects.requireNonNull(basePath);
    }

    public void registerRoutes(Javalin server) {
    {{#operations}}
    {{#operation}}
    {{#hasHttpScheme}}{{>httpRoutes}}{{/hasHttpScheme}}
    {{/operation}}
    {{/operations}}
    {{#operations}}
    {{#operation}}{{#hasWSScheme}}{{>wsRoutes}}{{/hasWSScheme}}{{/operation}}
    {{/operations}}
    }
    {{#operations}}{{#operation}}
{{#hasHttpScheme}}{{>httpMethods}}{{/hasHttpScheme}}
    {{/operation}}
    {{/operations}}
    {{#operations}}{{#operation}}
{{#hasWSScheme}}{{>wsMethods}}{{/hasWSScheme}}
    {{/operation}}
    {{/operations}}
}
