# {{classname}}{{#description}}
{{description}}{{/description}}

All URIs are relative to *{{basePath}}*
{{#operations}}{{#operation}}{{#hasHttpScheme}}{{#-first}}
## HTTP Interaction
Method [**path**] | Description
{{/-first}}

*{{operationId}}* ---> {{httpMethod}} [**{{path}}**] | {{#summary}}{{summary}}{{/summary}}
{{/hasHttpScheme}}{{/operation}}{{/operations}}

{{#operations}}{{#operation}}
{{#hasHttpScheme}}
### {{operationId}} {{#isDeprecated}} (Deprecated) {{/isDeprecated}}

{{#summary}}**Summary**: {{summary}}{{/summary}}

{{#pathParams}}{{#-first}}
**Path params**:
{{/-first}}

 - *{{baseName}}*: {{{description}}}
{{/pathParams}}{{#queryParams}}{{#-first}}
**Query params**:
{{/-first}}

 - *{{baseName}}*: {{{description}}}
{{/queryParams}}
{{#formParams}}{{#-first}}
**Form params**:
{{/-first}}

 - *{{baseName}}*: {{{description}}}
{{/formParams}}
{{#headerParams}}{{#-first}}
**Header params**:
{{/-first}}

 - *{{baseName}}*: {{{description}}}
{{/headerParams}}
{{#bodyParam}}

**Body**: {{{description}}}
{{/bodyParam}}

{{#notes}}**Notes**: {{notes}}{{/notes}}
{{/hasHttpScheme}}{{/operation}}{{/operations}}

{{#operations}}{{#operation}}{{#-first}}
{{#hasWSScheme}}
## WS Interaction:

Web socket connection for {{classname}} is available on **/{{baseName}}**

WebSocket interaction requires sending of a message containing the PATH followed by additional data if needed

All files must be sent as *Binary Message*
{{/hasWSScheme}}{{/-first}}{{/operation}}{{/operations}}

{{#operations}}{{#operation}}
{{#hasWSScheme}}
### {{operationId}} {{#isDeprecated}} (Deprecated) {{/isDeprecated}}

**Message**: {{httpMethod}}{{path}}>:[message]

{{#summary}}**Summary**: {{summary}}{{/summary}}

{{#pathParams}}{{#-first}}
**Path params**:
{{/-first}}

 - *{{baseName}}*: {{{description}}}
{{/pathParams}}
{{#queryParams}}{{#-first}}
**Query params**:
{{/-first}}

 - *{{baseName}}*: {{{description}}}
{{/queryParams}}
{{#headerParams}}{{#-first}}
**Header params**:
{{/-first}}

 - *{{baseName}}*: {{{description}}}
{{/headerParams}}

{{#notes}}**Notes**: {{notes}}{{/notes}}
{{/hasWSScheme}}{{/operation}}{{/operations}}
