import io.javalin.Javalin;
{{#apiInfo}}{{#apis}}import {{apiPackage}}.{{classFilename}};
{{/apis}}{{/apiInfo}}

public class Main {
    public static void main(String[] args) {
        String host = "{{host}}".split(":")[0];
        int port = 7000;
        if ("{{host}}".contains(":"))
            port = Integer.parseInt("{{host}}".split(":")[1]);
        Javalin server = Javalin.create().start(host, port);

        {{#apiInfo}}{{#apis}}{{classFilename}} {{classVarName}} = new {{classFilename}}("{{basePathWithoutHost}}");
        {{classVarName}}.registerRoutes(server);

        {{/apis}}{{/apiInfo}}
    }
}
